ul li{
	border: medium solid #fff;
	list-style: none;
	position: absolute;
}

img{
	width: 800px;
	height: 400px;
}

div{
	margin: 0 auto;
	width: 810px;
	height: 410px;
}

#other{
	background-image: url("imagen.jpg");
	margin: 0 auto;
	height: 400px;
	width: 801px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0px 0px;
}

#other:hover{
	background-image: url("imagen.jpg");
	margin: 0 auto;
	height: 400px;
	width: 801px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0px -400px;
}

#canada{
	background-image: url("imagen.jpg");
	margin: 0 auto;
	height: 400px;
	width: 570px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0px 0px;
}

#canada:hover{
	background-image: url("imagen.jpg");
	margin: 0 auto;
	height: 400px;
	width: 570px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0px -400px;
}

#bank{
	background-image: url("imagen.jpg");
	margin: 0 auto;
	height: 400px;
	width: 353px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0px 0px;
}

#bank:hover{
	background-image: url("imagen.jpg");
	margin: 0 auto;
	height: 400px;
	width: 353px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0px -400px;
}

#harbour{
	background-image: url("imagen.jpg");
	margin: 0 auto;
	height: 400px;
	width: 193px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0px 0px;
}

#harbour:hover{
	background-image: url("imagen.jpg");
	margin: 0 auto;
	height: 400px;
	width: 193px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0px -400px;
}