ul li{
	border: medium solid #fff;
	list-style: none;
	position: absolute;
}

img{
	width: 400px;
	height: 200px;
}

#mapa{
	background-image: url("imagen.jpg");
	margin: 0 auto;
	width: 410px;
	height: 210px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 4px 7px;
}

#harbour{
	background-image: url("imagen.jpg");
	margin: 0 auto;
	width: 100px;
	height: 207px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0px -198px;
	}

/*
#harbour{
	background-image: url("imagen.png");
	background-position: 10px 2px;
	width: 30px;
	height: 31px;
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
}

#bank{
	background-image: url("imagen.png");
	background-position: -300px -120px;
	width: 30px;
	height: 31px;
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
}

#canada{
	background-image: url("imagen.png");
	background-position: -160px -250px;
	width: 30px;
	height: 31px;
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
}

#other{
	background-image: url("imagen.png");
	background-position: -581px -159px;
	width: 30px;
	height: 31px;
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
}*/