#localidad1 img, #localidad2 img, #localidad3 img, #localidad4 img{
	padding-left: 38px;
	height: 32px;
	background-image: url("img/meteo2.gif");
	background-repeat: no-repeat;
	vertical-align: middle;
}

#localidad1{
	background-position: 0 0;
}

#localidad2{
	background-position: -32px 0;
}

#localidad3{
	background-position: 0 -32px;
}

#localidad4{
	background-position: -32px -32px;
}